<div class="search-bar">
  <div class="search-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 2a8 8 0 016.32 12.9l5.39 5.39-1.42 1.42-5.39-5.39A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z"/>
    </svg>
  </div>

  <input type="text" placeholder="Search" />

  <div class="notification-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
      <path d="M12 2a6 6 0 00-6 6v5.8L4 16v2h16v-2l-2-2.2V8a6 6 0 00-6-6zm1 18h-2a1 1 0 102 0z"/>
    </svg>
  </div>

  <div class="profile-picture">
    <img src="../../assets/user.jpg" alt="User Profile" />
  </div>
</div>
